{{define "website.components.head"}}
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="golang-gin-project-layout" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--[if IE 9]>
  <script type='text/javascript' src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script type='text/javascript' src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>{{.data.Title}}golang-gin-project-layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/statics/website/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/statics/website/css/lightbox.min.css" rel="stylesheet" />
  <link href="/statics/website/css/style.css" rel="stylesheet" crossorigin="anonymous">
</head>
{{end}}
