{{define "website.components.pagination"}}
<nav aria-label="Page navigation" class="pt-5">
  <ul class="pagination justify-content-center">
      {{$page := .data.Page}}
      {{$path := .data.Path}}
      {{range .data.Pages}}
          {{if eq . $page}}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{.}}</span>
            </li>
          {{else}}
            <li class="page-item"><a class="page-link" href="/{{$path}}/{{.}}">{{.}}</a></li>
          {{end}}
      {{end}}
  </ul>
</nav>
{{end}}
